<!DOCTYPE html>
<html lang="pl">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.Title}}</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="bg-gray-100 p-8">
        <div class="max-w-md mx-auto bg-white shadow-md rounded-md overflow-hidden">
            <h1 class="text-2xl font-bold text-gray-800 py-4 px-6 bg-gray-200 border-b border-gray-300">{{.Title}}</h1>
            <form id="registrationForm" class="p-6">
                <div class="mb-4">
                    <label for="fullName" class="block text-gray-700 text-sm font-bold mb-2">Imię i nazwisko:</label>
                    <input type="text" id="fullName" name="fullName" required
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
                    <input type="email" id="email" name="email" required
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                </div>
                <div class="mb-4">
                    <label for="chosenCourse" class="block text-gray-700 text-sm font-bold mb-2">Wybierz kurs:</label>
                    <select id="chosenCourse" name="chosenCourse" required
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option value="">Wybierz kurs</option>
                        {{range .Courses}}
                        {{if .IsAvailable}}
                        <option value="{{.Course.ID}}">{{.Course.Name}}</option>
                        {{end}}
                        {{end}}
                    </select>
                </div>
                <div class="mb-4">
                    <label for="reservedCourse" class="block text-gray-700 text-sm font-bold mb-2">Zarezerwuj dodatkowy
                        kurs (opcjonalnie):</label>
                    <select id="reservedCourse" name="reservedCourse"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option value="">Wybierz dodatkowy kurs</option>
                        {{range .Courses}}
                        {{if .IsAvailable}}
                        <option value="{{.Course.ID}}">{{.Course.Name}}</option>
                        {{end}}
                        {{end}}
                    </select>
                </div>
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Zapisz się
                </button>
            </form>
            <div id="registrationInfo" class="mt-4 px-6">
            </div>
        </div>

        <script>
            document.getElementById('registrationForm').addEventListener('submit', function (event) {
                event.preventDefault();

                const fullName = document.getElementById('fullName').value;
                const email = document.getElementById('email').value;
                const chosenCourseId = parseInt(document.getElementById('chosenCourse').value);
                const reservedCourseId = document.getElementById('reservedCourse').value ? parseInt(document.getElementById('reservedCourse').value) : null;

                const personData = {
                    full_name: fullName,
                    email: email,
                    chosen_course: chosenCourseId,
                    reserved_course: reservedCourseId
                };
                console.log(personData)
                fetch('/api/persons', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(personData),
                })
                    .then(response => {
                        if (response.ok) {
                            console.log('Rejestracja pomyślna!');
                            displayRegistrationMessage();

                        } else {
                            console.error('Błąd rejestracji:', response.status);
                            displayRegistrationMessage('Błąd rejestracji. Spróbuj ponownie.');
                        }
                    })
                    .catch(error => {
                        console.error('Błąd sieci:', error);
                        displayRegistrationMessage('Błąd sieci. Sprawdź połączenie.');
                    });
            });

            function displayRegistrationMessage(errorMessage = null) {
                const infoDiv = document.getElementById('registrationInfo');
                infoDiv.innerHTML = ''; // Wyczyść poprzednie wiadomości

                if (errorMessage) {
                    infoDiv.classList.add('bg-red-200', 'border-red-500', 'text-red-700', 'px-4', 'py-3', 'rounded', 'relative');
                    infoDiv.innerHTML = `<strong class="font-bold">Błąd!</strong>
                                      <span class="block sm:inline">${errorMessage}</span>`;
                } else {
                    // Sprawdź, czy istnieje ciasteczko 'course'
                    const cookies = document.cookie.split(';');
                    let courseName = null;
                    for (let i = 0; i < cookies.length; i++) {
                        let cookie = cookies[i].trim();
                        if (cookie.startsWith('course=')) {
                            courseName = cookie.substring('course='.length);
                            break;
                        }
                    }

                    if (courseName) {
                        infoDiv.classList.add('bg-green-200', 'border-green-500', 'text-green-700', 'px-4', 'py-3', 'rounded', 'relative');
                        infoDiv.innerHTML = `<p>Zarejestrowałeś się na warsztat <strong>${courseName}</strong>, jednak możesz zapisać kolejną osobę.</p>`;
                    }
                }
            }

            // Wywołaj funkcję przy załadowaniu strony, aby wyświetlić informację o ciasteczku, jeśli istnieje
            displayRegistrationMessage();
        </script>
    </body>

</html>